body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  background-color: lightblue;
  display: grid; /*not sure how to explain this*/
  font-size:16px
}

header {
  background-color: pink;
  padding: 20px;
  text-align: center; /*moves the text in the center*/
  color:#6F2020;
  border-radius: 30px;
}

h1 {
  margin: 0;
}

.product {
  margin-bottom: 20px;
}

.product img {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  /*makes the corners round*/
  border-radius: 5px; 
}

/*when the user hovers the blue the color gets darker */
.btn:hover {
  background-color: #0056b3;
}

#external-link {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  /*not sure if this is needed*/
  position:relative; 
  /*keep this here so it doesnt stack on the footer*/
  top: 20px;
}

#external-link h2 {
  margin-bottom: 10px;
}

.bottom-information {
  background-color: pink;
  color: #6F2020;
  text-align: left;
  margin-top: auto; /* Push footer to the bottom */
  padding: 20px; /*spacing between the words*/
}


.button-container {
  display: flex; /*i think makes the button shrink and expand with scene*/
}

.button-container button {
  flex: 1;
  border-radius: 20px;
  background-color:bisque;
  height: 45px;
  border-color: #6F2020;
  color: #6F2020;
  font-size: 18px;
  /* Add any desired styling for the buttons */
}

.image {
  width: 25%; 
  height: auto; /* set the height of the image to auto to maintain aspect ratio */
  object-fit: cover; /* or use other values like "contain" or "fill" depending on your desired behavior */
  margin: 20px; /* remove any margin around the image */
  padding: 0; /* remove any padding around the image */
}

.wrapper {
  display: flex;
  flex-direction: column; /*decides if the items should be arranged in a row or a column to make easy flexible and responsive layouts*/
  min-height: 50vh; /* Set a minimum height of the viewport height to ensure footer stays at bottom */
}
/*make this to style the text for the milk options*/
.milkchoices{
  text-align: center;
  font-size: 25px;
  
}


/* CSS styles for responsive layout */
/* For screens with width up to 600px */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  header {
    padding: 10px; /* Reduce padding for smaller screens */
  }
  .image {
    width: 100%; /* Set image width to 100% for smaller screens */
  }
}

/* For screens with width up to 768px */
@media screen and (max-width: 768px) {
  .button-container {
    flex-direction: column; /* Change buttons layout to vertical for smaller screens */
  }
  .button-container button {
    margin-bottom: 10px; /* Add margin between buttons for smaller screens */
  }
}
